html {
  height: 100%;
}

body {
  color: #d6d6d6;
  font-family: helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.photo ul {
  list-style: none;
  margin: 0 0 2.3rem 0;
  padding-left: 0;
}

.photo ul li {
  display: inline;
}

img {
  vertical-align: middle;
  background-color: #202020;
  border: 2px solid #090909;
  margin: 2px 0;
}

img.avatar {
  border: none;
}

a {
  color: #b1b1b1;
  margin: 0;
  outline: 0;
  text-decoration: underline;
  text-decoration-color: gray;
}

a:hover {
  color: #f3f3f3;
}

a:visited {
  color: #6b6b99;
}

a::-moz-focus-inner {
  outline: 0;
}

a.active {
  text-decoration: none;
  font-weight: bold;
}

a[href^="http"].download:after {
  background: center right no-repeat;
  font-size: 0.24rem;
  content: '\2b07';
  margin: 0;
  padding: 0 0.21rem 0 0.19rem;
}


code,
textarea {
  font-family: monospace;
  font-weight: normal;
}

code {
  font-size: 0.85em;
  color: #d5d0d2;
  padding: 1px 4px;
  margin-left: 2px;
}

p {
  margin-left: 0.09rem;
}

p span {
  display: block;
  margin: 0.18rem 0 2.13rem 0;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin-left: 0.06rem;
  padding: 0;
}

dl dt {
  grid-column-start: 1;
}

dl dd {
  grid-column-start: 2;
  margin-left: 0.36rem;
}

dl dd code {
  margin-left: 0;
  padding-left: 0;
}

#header {
  border-bottom: 2px solid #b0956c;
  padding: 0.96rem 0 1.12rem 0;
  background-color: #202020;
  width: 100%;
}

#header h1 {
  color: #b0956c;
  font-family: georgia, "bitstream vera serif", serif;
  font-size: 2.8em;
  font-weight: normal;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0;
  padding: 9px 0 13px 13px;
}

#header ul.navi {
  font-family: "monaco", "andale mono", "bitstream vera sans mono";
  font-weight: normal;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 40px 13px 18px;
}

#header ul.navi li {
  display: inline;
  list-style-type: none;
  padding: 0 1px;
}

#header ul.navi li a {
  color: #d6d6d6;
  text-decoration: underline;
  text-decoration-color: #d6d6d6;
}

#header ul.navi li.active a,
#header ul.navi li a:hover {
  color: #9e8661;
  text-decoration: underline;
  text-decoration-color: #8c7756;
}

#container {
  flex: 1;
  padding: 5px 18px;
}

#container .content {
  margin-left: 1px;
}

#container h2 {
  width: 125px;
  color: #808080;
  border-bottom: 1px solid #111111;
  padding: 0 0 2px 2px;
  margin: 13px 0 21px 0;
}

#container h3 {
  font-weight: bold;
  color: #808080;
  min-width: 125px;
  max-width: 40%;
  border-bottom: 1px dashed #111111;
  padding: 0 0 2px 2px;
  margin: 19px 0 21px 0;
}

#container h4 {
  font-weight: normal;
  min-width: 105px;
  max-width: 30%;
  padding: 0 0 0 3px;
  margin: 15px 0 12px 0;
}

#container span.caption {
  color: #808080;
  display: block;
  margin: 1px 2px 13px 2px;
  font-size: 0.8em;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 0.143rem;
}

#container ul.info li::before,
#container ul.note li::before,
#container ul.link li::before {
  color: gray;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.95rem;
  margin-left: -0.81rem;
}

#container ul.note,
#container ul.link,
#container ul.info {
  margin: 4px 0;
  padding-left: 1.09rem;
}

#container ul.info span {
  margin: 0 4px;
}

#container ul.note li ul,
#container ul.link li ul {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  margin: 4px 0 9px 2px;
}

#container ul.note li code,
#container ul.link li code {
  display: block;
  padding: 0.18rem 0 0 0.24rem;
  font-size: 0.8em;
  color: #888888;
}

#container ul.note li .url,
#container ul.link li .url {
  display: inline-block;
  margin: 0 0 0 0.382rem;
  font-size: 0.8em;
  color: #838383;
}

#container ul.note li p,
#container ul.link li p {
  padding: 0.09rem 0 0.09rem 0;
  margin: 0.21rem 0.52rem;
}

ul.link li a {
  margin-right: 0.39rem;
}

#footer {
  margin-top: 3rem;
  padding: 1.23rem 0 1.31rem 0;
  width: 100%;
  color: #222222;
  border-top: 6px solid #b0956c;
  background-color: #6b6b99;
}

#footer a {
  color: #f3f3f3;
  text-decoration: underline;
  text-decoration-color: #d6d6d6;
}

#footer #status,
#footer #copyright {
  font-size: 0.85em;
  padding: 16px 0 0 0;
  margin-left: 21px;
}

#footer #copyright {
  padding-top: 13px;
  padding-bottom: 19px;
}

#footer #copyright .license {
  display: inline-block;
  margin-right: 0.39rem;
}

#footer #copyright .author {
  display: inline-block;
  margin-left: 0.21rem;
}
