<h2 class="title">About</h2>
<div class="content">
	<div>
		<p>Yasuhiro Яша Asaka (Yasha)</p>
		<ul class="info">
			<li>
				E-mail:
				<code>yasuhiro.asaka&#64;grauwoelfchen.net</code>
			</li>
			<li>
				IRC Nick:
				<code>yasha</code> on <a href="https://libera.chat/">Libera Chat</a>
			</li>
			<li>
				Phone:
				<code class="phone"><del>+44 7937 962 126</del></code>
				or
				<code class="phone">+81 90 6509 7532</code>
			</li>
			<li>
				Birthday:
				<code>18.08.1982</code>
			</li>
		</ul>
	</div>

	<div>
		<h3>GPG keys</h3>
		<dl>
			<dt>Fingerprint:</dt><dd><code>70CC BB7D E229 78EA C0C9 45EC 68D2 A3B0 548E 2A48</code></dd>
			<dt>Public key:</dt><dd><a class="download" href="https://keys.openpgp.org/vks/v1/by-fingerprint/70CCBB7DE22978EAC0C945EC68D2A3B0548E2A48">keys.openpgp.org</a>, <a class="download" href="https://dl.grauwoelfchen.net/file/grauwoelfchen/net/keys/70CCBB7DE22978EAC0C945EC68D2A3B0548E2A48.asc">dl.grauwoelfchen.net</a></dd>
		</dl>
		<dl>
			<dt>Fingerprint:</dt><dd><code>9C9B 21F6 9D77 6E11 C2F8 8173 5331 0F17 5C61 91B7</code></dd>
			<dt>Public key:</dt><dd><a class="download" href="https://keys.openpgp.org/vks/v1/by-fingerprint/9C9B21F69D776E11C2F8817353310F175C6191B7">keys.openpgp.org</a>, <a class="download" href="https://dl.grauwoelfchen.net/file/grauwoelfchen/net/keys/9C9B21F69D776E11C2F8817353310F175C6191B7.asc">dl.grauwoelfchen.net</a></dd>
		</dl>
	</div>

	<div>
		<h3>Bio</h3>
		<p>
			Programmer. I'm hacking on Gentoo/Funtoo Linux.
			Recently, I grow Komatsuna. It resembles Spinach in shape and taste.
			<br>
			My hometown is Yokohama, but my soul comes from Zürich,
			and my heart is in somewhere in Switzerland ;)
		</p>
	</div>

	<div>
		<h3>Favorites</h3>
		<h4>Hacking</h4>
		<ul class="note">
			<li>
				<a href="https://www.gentoo.org/">Gentoo Linux</a>
				/
				<a href="http://www.funtoo.org/">Funtoo Linux</a>
				,
				<a href="http://www.openbsd.org/">OpenBSD</a>
				,
				<a href="http://slim.berlios.de/">SLiM</a>
				,
				<a href="https://stumpwm.github.io/">StumpWM</a>
				,
				<a href="http://invisible-island.net/xterm/">Xterm</a>
				,
				<a href="http://www.vim.org/">Vim</a>
				,
				<a href="http://openlab.ring.gr.jp/skk/index-j.html">SKK</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard">Dvorak</a>
				,
				<a href="http://atreus.technomancy.us/">Atreus</a>
				/
				<a href="https://kinesis-ergo.com/keyboards/advantage2-keyboard/">Kinesis Advantage Keyboard</a>
			</li>
		</ul>
		<h4>Foods</h4>
		<ul class="note">
			<li>Salad, Yoghurt, Cheese, Coffee and Chocolate</li>
		</ul>
		<h4>Hobbies</h4>
		<ul class="note">
			<li>Piano, Violin</li>
		</ul>
		<ul class="note">
			<li>
				<a href="http://risefield.com/rikkio-icehockey/">Ice Hockey</a>
				, Yoga
			</li>
		</ul>
		<ul class="note">
			<li>Reading, Gardening</li>
		</ul>
	</div>

  <div>
		<h3>Job</h3>
		<p>
			Software Engineer, Free Programmer, Embedded SRE or DevOps/Platform engineer
			<span><a href="https://www.linkedin.com/in/yasha-asaka/">LinkedIn</a></span>
		</p>
		<p>
			But... mostly work at own firm,
			<a href="https://lupine-software.com/">Lupine Software LLC</a>
		</p>
	</div>

	<div>
		<h3>Qualifications</h3>
		<h4>Academic</h4>
		<ul class="note">
			<li>Master's degree of Technology in Information Systems</li>
			<li>Bachelor's degree in German literature</li>
		</ul>
		<h4>Others</h4>
		<ul class="note">
			<li>Microsoft Certified Security, Compliance and Identity Fundamentals</li>
			<li>Microsoft Certified Azure Developer Associate</li>
			<li>Ruby Association Certified Ruby Programmer Silver</li>
			<li>Apple Certified Help Desk Specialist 10.4</li>
		</ul>
		<h3>Patents</h3>
		<ul class="note">
			<li><a href="https://www.j-platpat.inpit.go.jp/c1800/PU/JP-2019-058943/DDB4961D624EE2EFF811BDEA275772CB5F124DE818406135BCE4FBEC178293B1/19/en">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (JP)</a></li>
			<li><a href="https://register.epo.org/application?number=EP18858796&tab=main">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (EU)</a></li>
		</ul>
	</div>

	<div>
		<h3>Natural Languages</h3>
		<p>日本語, Deutsch, English, Schwiizerdüütsch</p>
	</div>
</div>
