<h2>About</h2>
<div class="main">
  <p>Yasuhiro Яша Asaka (Yasha)</p>
	<ul class="info">
		<li>
			E-mail:
			<code>yasuhiro.asaka&#64;grauwoelfchen.net</code>
		</li>
		<li>
			IRC Nick:
			<code>yasha</code> on <a href="https://libera.chat/">Libera Chat</a>
		</li>
		<li>
			Phone:
			<code class="phone"><del>+44 7937 962 126</del></code>
			or
			<code class="phone">+81 90 6509 7532</code>
		</li>
		<li>
			Birthday:
			<code>18.08.1982</code>
		</li>
	</ul>
	<h3>Bio</h3>
	<p>
		Programmer. I'm hacking on Gentoo/Funtoo Linux.
		Recently, I grow Komatsuna. It resembles Spinach in shape and taste.
		<br>
		My hometown is Yokohama, but my soul comes from Zürich,
		and my heart is in somewhere in Switzerland ;)
	</p>
	<h3>Favorites</h3>
	<h4>Hacking</h4>
	<ul class="note">
		<li>
			<a href="https://www.gentoo.org/">Gentoo Linux</a>
			/
			<a href="http://www.funtoo.org/">Funtoo Linux</a>
			,
			<a href="http://www.openbsd.org/">OpenBSD</a>
			,
			<a href="http://slim.berlios.de/">SLiM</a>
			,
			<a href="https://stumpwm.github.io/">StumpWM</a>
			,
			<a href="http://invisible-island.net/xterm/">Xterm</a>
			,
			<a href="http://www.vim.org/">Vim</a>
			,
			<a href="http://openlab.ring.gr.jp/skk/index-j.html">SKK</a>
		</li>
		<li>
			<a href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard">Dvorak</a>
			,
			<a href="http://atreus.technomancy.us/">Atreus</a>
			/
			<a href="https://kinesis-ergo.com/keyboards/advantage2-keyboard/">Kinesis Advantage Keyboard</a>
		</li>
	</ul>
	<h4>Foods</h4>
	<ul class="note">
		<li>Salad, Banana, Yoghurt, Cheese, Coffee, Chocolate</li>
	</ul>
	<h4>Hobbies</h4>
	<ul class="note">
		<li>Piano, Violin</li>
	</ul>
	<ul class="note">
		<li>
			<a href="http://risefield.com/rikkio-icehockey/">Ice Hockey</a>
			, Yoga
		</li>
	</ul>
	<ul class="note">
		<li>Gardening</li>
	</ul>
	<h3>Job</h3>
	<p>
		Free Programmer
	</p>
	<p>
		But... working mostly at own firm,
		<a href="https://lupine-software.com/">Lupine Software LLC</a>
	</p>
	<h3>Certifications</h3>
	<ul class="note">
		<li>Microsoft Certified: Security, Compliance and Identity Fundamentals</li>
		<li>Microsoft Certified: Azure Developer Associate</li>
		<li>Master's degree of Technology in Information Systems</li>
		<li>Ruby Association Certified Ruby Programmer Silver</li>
		<li>Apple Certified Help Desk Specialist 10.4</li>
		<li>Bachelor's degree in German literature</li>
	</ul>
	<h3>Patents</h3>
	<ul class="note">
		<li><a href="https://www.j-platpat.inpit.go.jp/c1800/PU/JP-2019-058943/DDB4961D624EE2EFF811BDEA275772CB5F124DE818406135BCE4FBEC178293B1/19/en">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (JP)</a></li>
		<li><a href="https://register.epo.org/application?number=EP18858796&tab=main">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (EU)</a></li>
	</ul>
	<h3>Natural Languages</h3>
	<p>日本語, Deutsch, English, Schwiizerdüütsch</p>
</div>
