%h2 ABOUT
.main
  %p Yasuhiro Asaka
  %ul.info
    %li
      E-mail:&nbsp;
      %span yasuhiro.asaka&#64;grauwoelfchen.net
    %li
      IRC Nick:&nbsp;
      %span
        grauwoelfchen (on
        %a(href="https://freenode.net/") freenode
        )
    %li
      Phone:&nbsp;
      %span.phone <del>+44 7937 962 126</del>
      or
      %span.phone +81 90 6509 7532
    %li
      Birthday:&nbsp;
      %span 18.08.1982
  %h3 Bio
  %p
    Programmer. |
    I'm hacking on Gentoo/Funtoo Linux. |
    Recently, I grow Komatsuna. It resembles Spinach in shape and taste.
    %br
    My hometown is Yokohama, but my soul comes from Zürich, |
    and my heart is in somewhere in Switzerland ;)
  %h3 Favorites
  %h4 Hacking
  %ul.note
    %li
      %a(href="https://www.gentoo.org/") Gentoo
      \/
      %a(href="http://www.funtoo.org/") Funtoo Linux
      ,
      %a(href="http://www.openbsd.org/") OpenBSD
      ,
      %a(href="http://slim.berlios.de/") SLiM
      ,
      %a(href="https://stumpwm.github.io/") StumpWM
      ,
      %a(href="http://invisible-island.net/xterm/") Xterm
      ,
      %a(href="http://www.vim.org/") Vim
      \/
      %a(href="http://www.gnu.org/software/emacs/") Emacs
      ,
      %a(href="http://openlab.ring.gr.jp/skk/index-j.html") SKK
    %li
      %a(href="http://www.mutt.org/") Mutt
      ,
      %a(href="http://www.newsbeuter.org/") Newsbeuter
      ,
      %a(href="https://weechat.org/") WeeChat
      ,
      %a(href="http://lynx.isc.org/") Lynx
      \/
      %a(href="http://conkeror.org/") Conkeror
      ,
      %a(href="https://pwmt.org/projects/zathura/") Zathura
      ,
      %a(href="http://pessimization.com/software/wyrd/") Wyrd
    %li
      %a(href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard") Dvorak
      ,
      %a(href="http://atreus.technomancy.us/") Atreus
      \/
      %a(href="http://ergodox.org/") ErgoDox
      \/
      Kinesis Advantage Keyboard
      \/
      Planck Keyboard
      \/
      Happy Hacking Keyboard
  %h4 Foods
  %ul.note
    %li Salad, Banana, Yoghurt, Cheese, Coffee, Chocolate
  %h4 Hobbies
  %ul.note
    %li Piano, Violin
  %ul.note
    %li
      %a(href="http://risefield.com/rikkio-icehockey/") Ice Hockey
      , Yoga
  %ul.note
    %li Gardening

  %a(title="garden by Yasuhiro Asaka, on Flickr"
    style="display:inline-block;margin:4px 0px;"
    href="https://www.flickr.com/photos/grauwoelfchen/6126854261")
    %img(src="https://farm7.staticflickr.com/6207/6126854261_d3a4967d41_z.jpg"
      width="153"
      height="153"
      alt="garden")
  %span.caption (garden?)

  %h3 Job
  %p
    Free Programmer
  %p
    But... working mostly at own firm,
    %a(href="https://lupine-software.com/") Lupine Software LLC

  %h3 Certifications
  %ul.note
    %li Apple Certified Help Desk Specialist 10.4
    %li Ruby Association Certified Ruby Programmer Silver
    %li Bachelor's degree in German literature
    %li Master's degree of Technology in Information Systems

  %h3 Languages
  %p 日本語, Deutsch, English, Schwiizerdüütsch
