<h2 class="title">About</h2>
<div class="content">
  <div>
    <p>Yasuhiro (Yasha) Asaka</p>
    <ul class="info">
      <li>
        E-mail:
        <code>yasuhiro.asaka&#64;grauwoelfchen.net</code>
      </li>
      <li>
        IRC Nick:
        <code>yasha</code> on <a href="https://libera.chat/">Libera Chat</a>
      </li>
      <li>
        Phone:
        <code class="phone"><del>+44 7937 962 126</del></code>
        or
        <code class="phone">+81 90 6509 7532</code>
      </li>
      <li>
        Birthday:
        <code>18.08.1982</code>
      </li>
    </ul>
  </div>

  <div>
    <h3>GPG keys</h3>
    <h4>General purpose</h4>
    <dl>
      <dt>Fingerprint:</dt><dd><code>70CC BB7D E229 78EA C0C9 45EC 68D2 A3B0 548E 2A48</code></dd>
      <dt>Public key:</dt><dd><a class="download" href="https://keys.openpgp.org/vks/v1/by-fingerprint/70CCBB7DE22978EAC0C945EC68D2A3B0548E2A48">keys.openpgp.org</a>,<a class="download" href="https://dl.grauwoelfchen.net/file/grauwoelfchen/net/keys/70CCBB7DE22978EAC0C945EC68D2A3B0548E2A48.asc">dl.grauwoelfchen.net</a></dd>
    </dl>
    <h4>Email</h4>
    <dl>
      <dt>Fingerprint:</dt><dd><code>9C9B 21F6 9D77 6E11 C2F8 8173 5331 0F17 5C61 91B7</code></dd>
      <dt>Public key:</dt><dd><a class="download" href="https://keys.openpgp.org/vks/v1/by-fingerprint/9C9B21F69D776E11C2F8817353310F175C6191B7">keys.openpgp.org</a>,<a class="download" href="https://dl.grauwoelfchen.net/file/grauwoelfchen/net/keys/9C9B21F69D776E11C2F8817353310F175C6191B7.asc">dl.grauwoelfchen.net</a></dd>
    </dl>
  </div>

  <div>
    <h3>Bio</h3>
    <p>
      A programmer. I'm hacking on Gentoo/Funtoo Linux.
      Recently, I grow Komatsuna. It resembles Spinach in shape and taste.
      <br>
      My hometown is Yokohama, but my soul comes from Zürich,
      and my heart is in somewhere in Switzerland ;)
    </p>
  </div>

  <div>
    <h3>Favorites</h3>
    <h4>Hacking</h4>
    <ul class="note">
      <li>
        <a href="https://www.gentoo.org/">Gentoo Linux</a>
        /
        <a href="http://www.funtoo.org/">Funtoo Linux</a>
        ,
        <a href="http://www.openbsd.org/">OpenBSD</a>
        ,
        <a href="http://slim.berlios.de/">SLiM</a>
        ,
        <a href="https://stumpwm.github.io/">StumpWM</a>
        ,
        <a href="http://invisible-island.net/xterm/">Xterm</a>
        ,
        <a href="http://www.vim.org/">Vim</a>
        ,
        <a href="http://openlab.ring.gr.jp/skk/index-j.html">SKK</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard">Dvorak</a>
        ,
        <a href="http://atreus.technomancy.us/">Atreus</a>
        /
        <a href="https://kinesis-ergo.com/keyboards/advantage2-keyboard/">Kinesis Advantage Keyboard</a>
      </li>
      <li>
        Programming languages
        <p>- Recent interests: Rust, Swift, Elm, Racket and AWK</p>
        <p>- Working experience: Rust, Go, Python, Ruby, PHP, TypeScript,
        JavaScript, Vimscript, AWK, Perl, C, Objective-C, C#, Haskell, Java
        and Erlang</p>
      </li>
    </ul>
    <h4>Foods</h4>
    <ul class="note">
      <li>Salad, Yoghurt, Coffee and Chocolate</li>
    </ul>
    <h4>Hobbies</h4>
    <ul class="note">
      <li><a href="http://risefield.com/rikkio-icehockey/">Ice Hockey</a>, Yoga</li>
    </ul>
    <ul class="note">
      <li><a href="https://codeberg.org/grauwoelfchen/lounge">Reading</a>, Playing Piano</li>
    </ul>
    <ul class="note">
      <li>Drawing, Knitting/Crocheting</li>
    </ul>
    <h5>Recent drawings</h5>
    <div class="photo">
      <ul>
        <li>
          <img src="{{host}}/img/wine-bottle-apple-2024-06-18-232129.jpeg"
            width="128"
            alt="A wine bottle and an apple - 20240618" />
        </li>
        <li>
          <img src="{{host}}/img/block-2-20240715.jpeg"
            width="128"
            alt="Blocks - 20240715" />
        </li>
        <li>
          <img src="{{host}}/img/girl-2-20240910.jpeg"
            width="128"
            alt="A girl - 20240910" />
        </li>
        <li>
          <img src="{{host}}/img/wine-bottle-2-20241001.jpeg"
            width="128"
            alt="A wine bottle - 20241001" />
        </li>
        <li>
          <img src="{{host}}/img/paper-bags-20250225.jpeg"
            height="172"
            alt="Paper bagks - 20250225" />
        </li>
      </ul>
    </div>
    <h5>Recent knitting/crocheting work</h5>
    <div class="photo">
      <ul>
        <li>
          <img src="{{host}}/img/knitting-a-neck-warmer-2025-0316.jpeg"
            width="128"
            alt="A neck warmer/hairband - 202501" />
        </li>
        <li>
          <img src="{{host}}/img/knitting-a-wrist-warmer-2025-0328.jpeg"
            width="128"
            alt="A wrist warmer - 202501" />
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h3>Job</h3>
    <p>
      Software Developer, Free Programmer, Embedded SRE or DevOps/Build engineer
      <span><a href="https://www.linkedin.com/in/yasha-asaka/">LinkedIn</a></span>
    </p>
    <p>
      But... mostly work at own firm,
      <a href="https://lupine-software.com/">Lupine Software LLC</a>
    </p>
  </div>

  <div>
    <h3>Qualifications</h3>
    <h4>Academic</h4>
    <ul class="note">
      <li>Master's degree of Technology in Information Systems</li>
      <li>Bachelor's degree in German language and literature</li>
    </ul>
    <h4>Others</h4>
    <ul class="note">
      <li>Linux Foundation Certified Cloud Technician (LFCT)</i>
      <li>Microsoft Certified Security, Compliance and Identity Fundamentals</li>
      <li>Microsoft Certified Azure Developer Associate</li>
      <li>Ruby Association Certified Ruby Programmer Silver</li>
      <li>Apple Certified Help Desk Specialist 10.4</li>
      <li>Diplom Deutsch in Japan Grundstufe</li>
    </ul>
    <h3>Patents</h3>
    <p>As a way of exploring a stable open source business for free software products by making ideas public and considering fair use of anonymised analysis data, I took on the challenge of working on these patents for my own firm. They have been accepted in Japan and EU, and registered in Japan, Switzerland and Germany. And then, I let them all expire :-D</p>
    <ul class="note">
      <li><a href="https://www.j-platpat.inpit.go.jp/c1800/PU/JP-2019-058943/DDB4961D624EE2EFF811BDEA275772CB5F124DE818406135BCE4FBEC178293B1/19/en">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (JP)</a></li>
      <li><a href="https://register.epo.org/application?number=EP18858796&tab=main">Program: The invention relates to a program for calculating an extremely accurate index of completed reading (EU)</a></li>
    </ul>
  </div>

  <div>
    <h3>Natural Languages</h3>
    <p>Japanese (Native), English (B2+ - C1), Deutsch (B1 - B2) and Schwiizerdüütsch (A1)</p>
  </div>

  <div>
    <h3>Supports</h3>
    <p>I like to support products which help my activities, teams or people who are on their own.<br>
      And I set a small amount of recurring donations via <a href="https://opencollective.com/grauwoelfchen">Open Collective</a> etc. as possible. Please let me know if I can provide any help.</p>
    <p>You might want to consider supporting them, if you don't yet ;)</p>
    <h4>Recurrings</h4>
    <ul class="note">
      <li>Fosstodon</li>
      <li>Codeberg</li>
      <li>Woodpecker CI</li>
      <li>Rocket Web Framework Foundation</li>
      <li>Stylus</li>
      <li>Open Web Docs</li>
      <li>Octobox</li>
      <li>rust-analyzer</li>
      <li>CryptPad</li>
      <li>async-rs</li>
      <li>pytest</li>
      <li>Inferno.js</li>
      <li>Internet Archive</li>
      <li>Wikipedia</li>
      <li>Electronic Frontier Foundation</li>
      <li>...and some individual software engineers, graphic designers
    </ul>
    <h4>By occasion</h4>
    <p>When install new OS or setup new laptop etc.</p>
    <ul class="note">
      <li>Gentoo Foundation</li>
      <li>OpenBSD Foundation</li>
      <li>Vim (ICCF Holland)</li>
      <li>Free Software Foundation</li>
      <li>One Laptop per Child</li>
    </ul>
  </div>

  <div>
    <h3>Volunteering</h3>
    <ul class="note">
      <li>Internal auditor, website maintainer at Die Studiengemeinschaft für Germanistik im Germanistischen Seminar der Rikkyo-Universität Tokyo</li>
    </ul>
  </div>
</div>
