<h2>About</h2>
<div class='main'>
  <p>Yasuhiro Яша Asaka</p>
	<ul class='info'>
		<li>
			E-mail:&nbsp;
			<span>yasuhiro.asaka&#64;grauwoelfchen.net</span>
		</li>
		<li>
			IRC Nick:&nbsp;
			<span>
				grauwoelfchen (on
				<a href='https://freenode.net/'>freenode</a>
				)
			</span>
		</li>
		<li>
			Phone:&nbsp;
			<span class='phone'><del>+44 7937 962 126</del></span>
			or
			<span class='phone'>+81 90 6509 7532</span>
		</li>
		<li>
			Birthday:&nbsp;
			<span>18.08.1982</span>
		</li>
	</ul>
	<h3>Bio</h3>
	<p>
		Programmer. I'm hacking on Gentoo/Funtoo Linux.
		Recently, I grow Komatsuna. It resembles Spinach in shape and taste.
		<br>
		My hometown is Yokohama, but my soul comes from Zürich,
		and my heart is in somewhere in Switzerland ;)
	</p>
	<h3>Favorites</h3>
	<h4>Hacking</h4>
	<ul class='note'>
		<li>
			<a href='https://www.gentoo.org/'>Gentoo</a>
			/
			<a href='http://www.funtoo.org/'>Funtoo Linux</a>
			,
			<a href='http://www.openbsd.org/'>OpenBSD</a>
			,
			<a href='http://slim.berlios.de/'>SLiM</a>
			,
			<a href='https://stumpwm.github.io/'>StumpWM</a>
			,
			<a href='http://invisible-island.net/xterm/'>Xterm</a>
			,
			<a href='http://www.vim.org/'>Vim</a>
			/
			<a href='http://www.gnu.org/software/emacs/'>Emacs</a>
			,
			<a href='http://openlab.ring.gr.jp/skk/index-j.html'>SKK</a>
		</li>
		<li>
			<a href='http://www.mutt.org/'>Mutt</a>
			,
			<a href='http://www.newsbeuter.org/'>Newsbeuter</a>
			,
			<a href='https://weechat.org/'>WeeChat</a>
			,
			<a href='http://lynx.isc.org/'>Lynx</a>
			/
			<a href='http://conkeror.org/'>Conkeror</a>
			,
			<a href='https://pwmt.org/projects/zathura/'>Zathura</a>
			,
			<a href='http://pessimization.com/software/wyrd/'>Wyrd</a>
		</li>
		<li>
			<a href='https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard'>Dvorak</a>
			,
			<a href='http://atreus.technomancy.us/'>Atreus</a>
			/
			<a href='http://ergodox.org/'>ErgoDox</a>
			/
			Kinesis Advantage Keyboard
			/
			Planck Keyboard
			/
			Happy Hacking Keyboard
		</li>
	</ul>
	<h4>Foods</h4>
	<ul class='note'>
		<li>Salad, Banana, Yoghurt, Cheese, Coffee, Chocolate</li>
	</ul>
	<h4>Hobbies</h4>
	<ul class='note'>
		<li>Piano, Violin</li>
	</ul>
	<ul class='note'>
		<li>
			<a href='http://risefield.com/rikkio-icehockey/'>Ice Hockey</a>
			, Yoga
		</li>
	</ul>
	<ul class='note'>
		<li>Gardening</li>
	</ul>
	<h3>Job</h3>
	<p>
		Free Programmer
	</p>
	<p>
		But... working mostly at own firm,
		<a href='https://lupine-software.com/'>Lupine Software LLC</a>
	</p>
	<h3>Certifications</h3>
	<ul class='note'>
		<li>Apple Certified Help Desk Specialist 10.4</li>
		<li>Ruby Association Certified Ruby Programmer Silver</li>
		<li>Bachelor's degree in German literature</li>
		<li>Master's degree of Technology in Information Systems</li>
	</ul>
	<h3>Languages</h3>
	<p>日本語, Deutsch, English, Schwiizerdüütsch</p>
</div>
