%h2 HOME
.main
  %img(src="/img/grauwoelfchenskafee.jpg")
  %p
    Hoi Zäme! I'm Yasuhiro Asaka.
    %br
    Thank you for visiting my website. |
    Please enjoy ;)      |
  %p
    %img(src="/img/workroom-300x245-20171010.jpg"
      width="310"
      height="245"
      alt="Grauwoelfchen's Workroom")
    %span.caption (Workroom)
