<h2>Home</h2>
<div class="main">
  <img src="{{host}}/img/grauwoelfchenskafee.jpg" alt="Logo"/>
  <p>
    Hoi Zäme! I'm Yasha.<br/>
    Thank you for visiting my website.<br/>
    Please enjoy ;)
  </p>
  <p>
    <img src="{{host}}/img/workroom-300x245-20171010.jpg"
      width="310"
      height="245"
      alt="Workroom"/>
    <span class="caption">(Workroom)</span>
</div>
