%h2 Home
.main
  %img(src="/img/grauwoelfchenskafee.jpg")
  %p
    Ahoj! I'm Yasuhiro Asaka.
    %br
    Thank you for visit. |
    Please enjoy ;)      |
  %p
    %a(href="https://www.flickr.com/photos/grauwoelfchen/23932310164/in/dateposted-public/"
      title="workroom")
      %img(src="https://farm2.staticflickr.com/1479/23932310164_b3f81d0bb5_n.jpg"
        width="320"
        height="239"
        alt="DSCN0880")
    %span.caption (desktop)
