<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html">
    <meta name="fediverse:creator" content="@grauwoelfchen@fosstodon.org">
    <title>{{# if page_title }}{{page_title}} - {{/if}}{{site_title}}</title>
    <link href="{{host}}/style.css" rel="stylesheet" type="text/css">
    <link href="https://fosstodon.org/@grauwoelfchen" rel="me">
  </head>
  <body>
    <div id="header">
      <h1>{{site_title}}</h1>
      <ul class="navi">
        {{navi ~}}
      </ul>
    </div>
    <div id="container">
      {{content ~}}
    </div>
    <div id="footer">
      <div id="status">
        <a title="Server status" href="http://up.grauwoelfchen.net/">Server status</a>
      </div>
      <div id="copyright">
        <span class="license">
          <a title="License" href="https://gitlab.com/grauwoelfchen/workroom/blob/trunk/LICENSE">AGPL-3.0</a>
          &nbsp;+&nbsp;
          <a title="License" href="https://gitlab.com/grauwoelfchen/workroom/blob/trunk/README.md">GFDL-1.3</a>
        </span>
        Copyright &copy; 2014 - 2025
        <a title="Author" href="{{host}}/about.html" rel="author" class="author">Yasha</a>
      </div>
    </div>
</html>
