<h2>Link</h2>
<div class='main'>
	<h3>Websites</h3>
	<ul class='link'>
		<li>
			<a href='https://grauwoelfchen.at/' title='Grauwoelfchen&#39;s Canvas'>
				Canvas
			</a>
			<code>cat /dev/null</code>
			<ul>
				<li>
					<span>・・・ Technical notes</span>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://diary.grauwoelfchen.net/' title='Grauwoelfchen&#39;s Diary'>
				Diary
			</a>
			<code>~yasuhiro</code>
			<ul>
				<li>
					<span>
						・・・ Miscellaneous daily posts
					</span>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://album.grauwoelfchen.net/' title='Grauwoelfchen&#39;s Album'>
				Album
			</a>
			<code>Liäbi Grüäss</code>
			<ul>
				<li>
					<span>
						・・・ My drawings and photos
					</span>
				</li>
			</ul>
		</li>
	</ul>
	<h3>Activities</h3>
	<ul class='link'>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/' title='GitLab'>
				GitLab.com
			</a>
		</li>
		<li>
			<a href='https://mastodon.at/@grauwoelfchen' title='@grauwoelfchen@mastodon.at'>
				Mastodon.at
			</a>
			&nbsp;
			<span>(@grauwoelfchen@mastodon.at)</span>
		</li>
	</ul>
</div>
