%h2 LINK
.main
  %h3 Contents
  %ul.link
    %li
      %a(title="Canvas" href="https://log.grauwoelfchen.net/")
        Canvas
      %ul
        %li
          %span My personal blog
    %li
      %a(title="Gallery" href="https://img.grauwoelfchen.net/")
        Gallery
      %ul
        %li
          %span Shared images

  %h3 Services
  %ul.link
    %li
      %a(title="GitHub" href="https://gitlab.com/grauwoelfchen/")
        Gitlab
