%h2 LINK
.main
  %h3 Website
  %ul.link
    %li
      %del
        %a(title="Grauwoelfchen's Canvas")
          Grauwoelfchen's Canvas
        %span.url https://grauwoelfchen.at/
      %code Appropriate Technology
      %ul
        %li
          %span ・・・ Tech Notes
    %li
      %a(title="https://yasuhiro.asaka.io/" href="https://yasuhiro.asaka.io/")
        Grauwoelfchen's Archive
      %span.url https://yasuhiro.asaka.io/
      %code ~yasuhiro
      %ul
        %li
          %span ・・・ Miscellaneous Posts
          ,
          %a(href="https://gitlab.com/grauwoelfchen/graffiti")
            source
    %li
      %a(title="Liäbi Grüäss" href="https://lg.grauwoelfchen.net/_shared")
        Liäbi Grüäss
      %span.url https://lg.grauwoelfchen.net/
      %code us der Ferne
      %ul
        %li
          %span ・・・ Photos and Sketches
          ,
          %a(href="https://lg.grauwoelfchen.net/_shared/photo/")
            source

  %h3 Activity
  %ul.link
    %li
      %a(title="GitLab" href="https://gitlab.com/grauwoelfchen/")
        Gitlab
    %li
      %a(title="Twitter" href="https://twitter.com/grauwoelfchen/")
        Twitter

  %h3 Other
  %ul.link
    %li
      %a(title="https://misaki.asaka.io" href="https://misaki.asaka.io/")
        Misaki's Website
      %span.url https://misaki.asaka.io/
      %ul
        %li
          %span ・・・ My Wife's Website
