<h2 class="title">Link</h2>
<div class="content">
	<h3>Websites</h3>
	<h4>grauwoelfchen.net</h4>
	<ul class="link">
		<li>
			<a href="https://forge.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Forge">
				Forge
			</a>
			<span>... Technical notes</span>
			<code>cat /dev/null</code>
		</li>
		<li>
			<a href="https://diary.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Diary">
				Diary
			</a>
			<span>... Miscellaneous blog posts</span>
			<code>ls ~</code>
		</li>
		<li>
			<a href="https://essay.grauwoelfchen.net/en" title="Grauwoelfchen&#39;s Essay - English Edition">
				Essay - English Edition
			</a>
			<span>... Thoughts, stories and ideas</span>
			<code>yes English > /dev/null</code>
		</li>
		<li>
			<a href="https://essay.grauwoelfchen.net/ja" title="Grauwoelfchen&#39;s Essay - Japanese Edition">
				Essay - Japanese Edition
			</a>
			<span>... Thoughts, stories and ideas</span>
			<code>yes Japanese > /dev/null</code>
		</li>
		<li>
			<a href="https://album.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Album">
				Album
			</a>
			<span>... My drawings and photos</span>
			<code>sudo cat /dev/mem</code>
		</li>
		<li>
			<a href="https://sound.grauwoelfchen.net/figtree" title="Figtree">Figtree</a>
			<span>... In development. "Fill In the Gaps" quizzes for language learning</span>
			<code>play -q /usr/share/sounds/f/s/audio-test-signal.oga</code>
		</li>
		<li>
			<a href="https://video.grauwoelfchen.net/" title="Untiscast">Untilcast</a>
			<span>... An experimental space for my UNuttered TIL screenCASTS.</span>
			<code>find /media -name "*.mkv"</code>
		</li>
	</ul>
	<h4>yasha.app</h4>
	<ul class="link">
		<li>
			<a href="https://styr.yasha.app/" title="Styr">Styr</a>
			<p>STYlish css framewoRk</p>
		</li>
		<li>
			<a href="https://miaow.yasha.app/" title="Miaow">Miaow</a>
			<p>Meow, meow!</p>
		</li>
	</ul>
	<h3>Others</h3>
	<ul class="link">
		<dl>
			<dt>Mastodon</dt>
			<dd><a href="https://fosstodon.org/@grauwoelfchen" title="@grauwoelfchen@fosstodon.org">@grauwoelfchen@fosstodon.org</a></dd>
			<dt>Pixelfed</dt>
			<dd><a href="https://pixelfed.social/grauwoelfchen" title="@grauwoelfchen@pixelfed.social">@grauwoelfchen@pixelfed.social</a></dd>
		</dl>
	</ul>
</div>
