<h2>Link</h2>
<div class="main">
	<h3>Websites</h3>
	<ul class="link">
		<li>
			<a href="https://grauwoelfchen.at/" title="Grauwoelfchen&#39;s Canvas">
				Canvas
			</a>
			<span>... Technical notes</span>
			<code>cat /dev/null</code>
		</li>
		<li>
			<a href="https://diary.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Diary">
				Diary
			</a>
			<span>... Miscellaneous blog posts</span>
			<code>ls ~</code>
			<ul>
				<li>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://album.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Album">
				Album
			</a>
			<span>... My drawings and photos</span>
			<code>sudo cat /dev/mem</code>
		</li>
	</ul>
	<h3>Others</h3>
	<ul class="link">
		<li>
			<a href="https://gitlab.com/grauwoelfchen/" title="GitLab">GitLab.com</a>
		</li>
		<li>
			<a href="https://fosstodon.org/@grauwoelfchen" title="@grauwoelfchen@fosstodon.org">Fosstodon</a>
			&nbsp;
			<span>(@grauwoelfchen@fosstodon.org)</span>
		</li>
	</ul>
</div>
