%h2 LINK
.main
  %h3 Website
  %ul.link
    %li
      %del
        %a(title="Grauwoelfchen's Canvas")
          Grauwoelfchen's Canvas
        &nbsp;/
        %span.url https://grauwoelfchen.at/
      %code cat /dev/null
      %ul
        %li
          %span ・・・ Tech Notes,
          %a(href="https://gitlab.com/grauwoelfchen/canvas")
            source
    %li
      %a(title="Grauwoelfchen's Gallery" href="https://lg.grauwoelfchen.net/")
        Grauwoelfchen's Gallery
      &nbsp;/
      %span.url https://lg.grauwoelfchen.net/
      %code lg,
      %ul
        %li
          %span
            ・・・ Photos and Drawings,
            %a(href="https://lg.grauwoelfchen.net/_shared/")
              source
    %li
      %a(title="Grauwoelfchen's Archive" href="https://yasuhiro.asaka.io/")
        Grauwoelfchen's Archive
      &nbsp;/
      %span.url https://yasuhiro.asaka.io/
      %code ~yasuhiro
      %ul
        %li
          %span
            ・・・ Miscellaneous Posts,
            %a(href="https://gitlab.com/grauwoelfchen/archive")
              source

  %h3 Activity
  %ul.link
    %li
      %a(title="GitLab" href="https://gitlab.com/grauwoelfchen/")
        GitLab.com
    %li
      %a(title="GNU Social" href="https://gnusocial.de/grauwoelfchen/")
        GNU social
      &nbsp;
      %span (gnusocial.de)
