<h2 class="title">Link</h2>
<div class="content">
	<h3>Websites</h3>
	<ul class="link">
		<li>
			<a href="https://grauwoelfchen.at/" title="Grauwoelfchen&#39;s Canvas">
				Canvas
			</a>
			<span>... Technical notes</span>
			<code>cat /dev/null</code>
		</li>
		<li>
			<a href="https://diary.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Diary">
				Diary
			</a>
			<span>... Miscellaneous blog posts</span>
			<code>ls ~</code>
		</li>
		<li>
			<a href="https://album.grauwoelfchen.net/" title="Grauwoelfchen&#39;s Album">
				Album
			</a>
			<span>... My drawings and photos</span>
			<code>sudo cat /dev/mem</code>
		</li>
		<li>
			<a href="https://yasha.rs/" title="yasha.rs">yasha.rs</a>
			<span>... A website for my hobbies & gamedev</span>
			<code>cd /opt/game</code>
		</li>
		<li>
			<a href="https://untilcats.ch/" title="Untiscast">Untilcast</a>
			<span>... An experimental space for my miscellaneous UNuttered TIL screencasts.</span>
			<code>find /media -name "*.mkv"</code>
		</li>
	</ul>
	<h3>Others</h3>
	<ul class="link">
		<dl>
			<dt>Fosstodon</dt>
			<dd><a href="https://fosstodon.org/@grauwoelfchen" title="@grauwoelfchen@fosstodon.org">@grauwoelfchen@fosstodon.org</a></dd>
			<dt>Gamedev Mastodon</dt>
			<dd><a href="https://mastodon.gamedev.place/@yasha_tty" title="@yasha_tty@mastodon.gamedev.place">@yasha_tty@mastodon.gamedev.place</a></dd>
		</dl>
	</ul>
</div>
