%h2 Link
.main
  %h3 Contents
  %ul.link
    %li
      %a(title="Canvas" href="http://canvas.grauwoelfchen.net/")
        Canvas
      %ul
        %li
          %span Blog && Wiki

  %h3 Services
  %ul.link
    %li
      %a(title="GitHub" href="https://gitlab.com/grauwoelfchen/")
        Gitlab
    %li
      %a(title="GitHub" href="https://github.com/grauwoelfchen/")
        GitHub
    %li
      %a(title="twitter" href="http://twitter.com/grauwoelfchen")
        Twitter
    %li
      %a(title="Flickr" href="http://www.flickr.com/photos/grauwoelfchen/")
        Flickr
    %li
      %a(title="Speaker Deck" href="https://speakerdeck.com/yasuhiro/")
        Speaker Deck
