%h2 LINK
.main
  %h3 Websites
  %ul.link
    %li
      %a(title="Grauwoelfchen's Canvas" href="https://grauwoelfchen.at/")
        Canvas
      %code cat /dev/null
      %ul
        %li
          %span ・・・ Technical notes
    %li
      %a(title="Grauwoelfchen's Diary" href="https://diary.grauwoelfchen.net/")
        Diary
      %code ~yasuhiro
      %ul
        %li
          %span
            ・・・ Miscellaneous daily posts

    %li
      %a(title="Grauwoelfchen's Album" href="https://album.grauwoelfchen.net/")
        Album
      %code Liäbi Grüäss
      %ul
        %li
          %span
            ・・・ My drawings and photos

  %h3 Activities
  %ul.link
    %li
      %a(title="GitLab" href="https://gitlab.com/grauwoelfchen/")
        GitLab.com
    %li
      %a(title="@grauwoelfchen@mastodon.at" href="https://mastodon.at/@grauwoelfchen")
        Mastodon.at
      &nbsp;
      %span (@grauwoelfchen@mastodon.at)
