%h2 LINK
.main
  %h3 Sites
  %ul.link
    %li
      %del
        %a(title="Grauwoelfchen's Canvas")
          Grauwoelfchen's Canvas
      %ul
        %li
          %span Old Blog, closed
    %li
      %a(title="Liäbi Grüäss us Züri" href="https://lg.grauwoelfchen.net/")
        Liäbi Grüäss us Züri
      %ul
        %li
          %span Working Notes (Best regards from Zürich, in Schwiizerdüütsch)
    %li
      %a(title="https://yasuhiro.asaka.io/" href="https://yasuhiro.asaka.io/")
        Yasuhiro's Graffiti
      %ul
        %li
          %span The Miscellaneous Updates
          ,
          %a(href="https://gitlab.com/grauwoelfchen/graffiti")
            source

  %h3 Activities
  %ul.link
    %li
      %a(title="GitLab" href="https://gitlab.com/grauwoelfchen/")
        Gitlab
    %li
      %a(title="Twitter" href="https://twitter.com/grauwoelfchen/")
        Twitter
