%h2 LINK
.main
  %h3 Contents
  %ul.link
    %li
      %a(title="Lg" href="https://lg.grauwoelfchen.net/")
        Liäbi Grüäss
      %ul
        %li
          %span My blog

  %h3 Services
  %ul.link
    %li
      %a(title="GitHub" href="https://gitlab.com/grauwoelfchen/")
        Gitlab
      %ul
        %li
          %span My work
