%h2 LINK
.main
  %h3 Websites
  %ul.link
    %li
      %a(title="Grauwoelfchen's Canvas" href="https://grauwoelfchen.at/")
        Canvas
      %code cat /dev/null
      %ul
        %li
          %span ・・・ Technical notes
    %li
      %a(title="Grauwoelfchen's Diary" href="https://diary.grauwoelfchen.net/")
        Diary
      %code ~yasuhiro
      %ul
        %li
          %span
            ・・・ Miscellaneous daily posts

  %h3 Activities
  %ul.link
    %li
      %a(title="GitLab" href="https://gitlab.com/grauwoelfchen/")
        GitLab.com
    %li
      %a(title="GNU Social" href="https://gnusocial.de/grauwoelfchen/")
        GNU social
      &nbsp;
      %span (gnusocial.de/grauwoelfchen)
