<h2 class="title">Software</h2>
<div class="content">
	<h3>Recent Products</h3>
	<h4>Lupine Software</h4>
	<ul class="link">
		<li>
			<a href="https://codeberg.org/lupine-software?q=lecturepad&sort=recentupdate" title="Lecturepad">Lecturepad</a>
			<p>A yet another collaborative note-taking platform designed to support 1 on 1 lessions and meetings</p>
		</li>
		<li>
			<a href="https://gitlab.com/eloquentlog" title="Eloquentlog">Eloquentlog</a>
			<p>A log processing software, <strike>https://eloquentlog.com</strike></p>
		</li>
		<li>
			<a href="https://gitlab.com/scrolliris" title="Scrolliris">Scrolliris</a>
			<p>Text readability analysis software utilizes anonymized fair data, <strike>https://scrolliris.com</strike></p>
		</li>
	</ul>
	<h4>Personal</h4>
	<p>See public repositories below</p>
	<h3>Public Repositories</h3>
	<ul class="link">
		<li><a href="https://codeberg.org/grauwoelfchen">Codeberg</a></li>
		<li><a href="https://git.sr.ht/~grauwoelfchen/">sourcehut</a></li>
		<li><a href="https://gitlab.com/grauwoelfchen">GitLab.com</a>(inactive for personal projects)</li>
		<li><a href="https://github.com/grauwoelfchen">GitHub</a>(inactive for personal projects)</li>
	</ul>
</div>
