%h2 SOFTWARE
.main
  %h3 Utilities
  %ul.link
    %li
      %a(title=".vim"
        href="https://gitlab.com/grauwoelfchen/dotvim")
        DotVim (.vim)
      %ul
        %li
          %span My .vim
    %li
      %a(title=".zsh"
        href="https://gitlab.com/grauwoelfchen/dotzsh")
        DotZsh (.zsh)
      %ul
        %li
          %span My .zsh
    %li
      %a(title="Portage overlay"
        href="https://github.com/grauwoelfchen/portage-overlay")
        Portage Overlay
      %ul
        %li
          %span My portage overlay for Gentoo/Funtoo Linux
    %li
      %a(title="Tune"
        href="https://github.com/grauwoelfchen/tune")
        Tune
      %ul
        %li
          %span The command line interface of Radio Tray via dbus
          &nbsp;>&nbsp;
          %a(title="Rubygems"
             href="https://rubygems.org/gems/tune")
            Rubygems
    %li
      %a(title="GPL"
        href="https://gitlab.com/grauwoelfchen/gpl")
        GPL
      %ul
        %li
          %span Grauwoelfchen's dvorak based Planck keyboard Layout
    %li
      %p
        %a(title="Slim Theme Zürich"
          href="https://github.com/grauwoelfchen/slim.theme-zuerich")
          Zürich
        ,
        %a(title="Slim Theme Luzern"
          href="https://github.com/grauwoelfchen/slim.theme-luzern")
          Luzern
        ,
        %a(title="Slim Theme Spiez"
          href="https://github.com/grauwoelfchen/slim.theme-spiez")
          Spiez
      %ul
        %li
          %span The Theme using my photo in Switzerland for SLiM login manager

  %a(title="Utenberg by Yasuhiro Asaka, on Flickr"
    href="https://www.flickr.com/photos/grauwoelfchen/7188298828")
    %img(src="https://farm8.staticflickr.com/7227/7188298828_5a367fb3af_z.jpg"
      width="153"
      height="153"
      alt="Utenberg")
  %span.caption (Luzern)


  %h3 Documents
  %ul.link
    %li
      %a(title="Handbooks"
        href="https://gitlab.com/grauwoelfchen/handbooks")
        Handbooks
      %ul
        %li
          %span My documents for setup GNU/Linux and BSD


  %h3 Libraries
  %ul.link
    %li
      %a(title="Flask-DotEnv"
        href="https://github.com/grauwoelfchen/flask-dotenv")
        Flask-DotEnv
      %ul
        %li
          %span The .env file support for Flask
          &nbsp;>&nbsp;
          %a(title="PyPI"
             href="https://pypi.python.org/pypi/Flask-DotEnv")
            PyPI
    %li
      %a(title="Styr"
        href="https://gitlab.com/grauwoelfchen/styr")
        Styr
      %ul
        %li
          %span STYlish css libRary
          ,
          %a(href="https://grauwoelfchen.gitlab.io/styr") https://grauwoelfchen.gitlab.io/styr
          (document)
          &nbsp;>&nbsp;
          %a(title="npm"
             href="https://www.npmjs.com/package/styr")
            npm
    %li
      %a(title="SetCursorLine"
        href="https://github.com/grauwoelfchen/set-cursor-line")
        SetCursorLine jQuery Plugin
      ,
      %a(title="SetNumber"
        href="https://github.com/grauwoelfchen/set-number")
        SetNumber jQuery Plugin
      %ul
        %li
          %span `set cursor line` and `set number` for textarea

  %a(href="https://github.com/grauwoelfchen/set-cursor-line")
    %img(src="https://raw.githubusercontent.com/grauwoelfchen/set-cursor-line/master/img/set-cursor-line-js.png")
  %span.caption (set cursorline)

  %a(href="https://github.com/grauwoelfchen/set-number")
    %img(src="https://raw.githubusercontent.com/grauwoelfchen/set-number/master/img/set-number-js.png")
  %span.caption (set number)

  %h3 Applications
  %ul.link
    %li
      %a(title="Untertiteln"
       href="https://gitlab.com/grauwoelfchen/untertiteln")
        Untertiteln
      %ul
        %li
          %span The console application prints Untertitels (subtitle in German) from input
    %li
      %a(title="Workroom"
       href="https://gitlab.com/grauwoelfchen/workroom")
        Workroom
      %ul
        %li
          %span This website

  %h3 Web services
  %ul.link
    %li
      %a(title="Spruce"
       href="https://spruce-tree.net/")
        Spruce
      %ul
        %li
          %span Text browser friendly outline/list organizer application
    %li
      %a(title="Scrolliris"
       href="https://about.scrolliris.com/")
        Scrolliris
      %ul
        %li
          %span A publication platform which utilizes text readability analysis
