%h2 SOFTWARE
.main
  %h3 Web services
  %ul.link
    %li
      %a(title="Scrolliris"
       href="https://about.scrolliris.com/")
        Scrolliris
      %ul
        %li
          %p A publication platform which utilizes text readability analysis
    %li
      Eloquentlog
      %ul
        %li
          %p (under development)

  %h3 Libraries
  %ul.link
    %li
      %a(title="pyramid_secure_response"
         href="https://gitlab.com/grauwoelfchen/pyramid_secure_response")
        Pyramid Secure Response
      %span.label.pypi
        %a(title="PyPI"
           href="https://pypi.python.org/pypi/pyramid_secure_response")
          PyPI
      %ul
        %li
          %p Pyramid Tweens to provide secure response (HSTS header, SSL redirect etc.)
    %li
      %a(title="Flask-DotEnv"
        href="https://github.com/grauwoelfchen/flask-dotenv")
        Flask-DotEnv
      %span.label.pypi
        %a(title="PyPI"
           href="https://pypi.python.org/pypi/Flask-DotEnv")
          PyPI
      %ul
        %li
          %p The .env file support for Flask
    %li
      %a(title="Styr"
        href="https://gitlab.com/grauwoelfchen/styr")
        Styr
      %span.label.npm
        %a(title="npm"
           href="https://www.npmjs.com/package/styr")
          npm
      %ul
        %li
          %p
            STYlish css libRary,
            %a(href="https://grauwoelfchen.gitlab.io/styr") https://grauwoelfchen.gitlab.io/styr
            (documentation)
    %li
      %a(title="Lilac"
        href="https://github.com/grauwoelfchen/lilac")
        Lilac
      %span.label.gem
        %a(title="RubyGems"
           href="https://rubygems.org/gems/lilac")
          RubyGems
      %ul
        %li
          %p Luxury Indented List Another Converter
    %li
      %a(title="SetCursorLine"
        href="https://github.com/grauwoelfchen/set-cursor-line")
        SetCursorLine
      ,
      %a(title="SetNumber"
        href="https://github.com/grauwoelfchen/set-number")
        SetNumber
      %ul
        %li
          %p jQuery Plugin for `set cursor line` and `set number` to textarea

  %a(href="https://github.com/grauwoelfchen/set-cursor-line")
    %img(src="https://raw.githubusercontent.com/grauwoelfchen/set-cursor-line/master/img/set-cursor-line-js.png" width=294 height=153)
  %span.caption (set cursorline)

  %a(href="https://github.com/grauwoelfchen/set-number")
    %img(src="https://raw.githubusercontent.com/grauwoelfchen/set-number/master/img/set-number-js.png" width=286 height=157)
  %span.caption (set number)

  %h3 Utilities
  %ul.link
    %li
      %a(title="Tune"
        href="https://github.com/grauwoelfchen/tune")
        Tune
      %span.label.gem
        %a(title="Rubygems"
           href="https://rubygems.org/gems/tune")
          Rubygems
      %ul
        %li
          %p The command line interface of Radio Tray via dbus
    %li
      %a(title="heroku-buildpack-gettext"
        href="https://gitlab.com/grauwoelfchen/heroku-buildpack-gettext")
        Heroku Buildpack Gettext
      %ul
        %li
          %p The buildpack compiles GNU gettext with gettext-tools from official gettext
    %li
      %a(title="heroku-buildpack-make"
        href="https://gitlab.com/grauwoelfchen/heroku-buildpack-make")
        Heroku Buildpack Make
      %ul
        %li
          %p The buildpack to use Makefile on Heroku instance
    %li
      %a(title=".vim"
        href="https://gitlab.com/grauwoelfchen/dotvim")
        DotVim (.vim)
      %ul
        %li
          %p My .vim
    %li
      %a(title=".zsh"
        href="https://gitlab.com/grauwoelfchen/dotzsh")
        DotZsh (.zsh)
      %ul
        %li
          %p My .zsh
    %li
      %a(title="Portage overlay"
        href="https://github.com/grauwoelfchen/portage-overlay")
        Portage Overlay
      %ul
        %li
          %p My portage overlay for Gentoo/Funtoo Linux
    %li
      %a(title="GPL"
        href="https://gitlab.com/grauwoelfchen/gpl")
        GPL
      %ul
        %li
          %p Grauwoelfchen's dvorak based Planck keyboard Layout
    %li
      %p
        %a(title="Slim Theme Zürich"
          href="https://github.com/grauwoelfchen/slim.theme-zuerich")
          Zürich
        ,
        %a(title="Slim Theme Luzern"
          href="https://github.com/grauwoelfchen/slim.theme-luzern")
          Luzern
        ,
        %a(title="Slim Theme Spiez"
          href="https://github.com/grauwoelfchen/slim.theme-spiez")
          Spiez
      %ul
        %li
          %p The Theme using my photo in Switzerland for SLiM login manager

  %a(title="Utenberg by Yasuhiro Asaka, on Flickr"
    href="https://www.flickr.com/photos/grauwoelfchen/7188298828")
    %img(src="https://farm8.staticflickr.com/7227/7188298828_5a367fb3af_z.jpg"
      width="153"
      height="153"
      alt="Utenberg")
  %span.caption (Luzern)

  %h3 Documentations
  %ul.link
    %li
      %a(title="Handbooks"
        href="https://gitlab.com/grauwoelfchen/handbooks")
        Handbooks
      %ul
        %li
          %p My documents for setup GNU/Linux and BSD
    %li
      %a(title="Vincent"
         href="https://gitlab.com/grauwoelfchen/vincent")
        Vincent
      %ul
        %li
          %p VPN Setup note on Gentoo Linux
    %li
      %a(title="Innocent"
         href="https://gitlab.com/grauwoelfchen/innocent")
        Innocent
      %ul
        %li
          %p Note and configuration for easy installation of Gentoo Linux on virtual server like VPS

  %h3 Miscellaneous Repositories
  %ul.link
    %li
      %a(title="Dijon"
         href="https://gitlab.com/grauwoelfchen/dijon")
        Dijon
      %ul
        %li
          %p Docker Integration for Jitsi Meet

  %h3 Applications
  %ul.link
    %li
      %a(title="Untertiteln"
       href="https://gitlab.com/grauwoelfchen/untertiteln")
        Untertiteln
      %ul
        %li
          %p The console application prints Untertitels (subtitle in German) from input
    %li
      %a(title="Workroom"
       href="https://gitlab.com/grauwoelfchen/workroom")
        Workroom
      %ul
        %li
          %p This website ;-)
