<h2>Software</h2>
<div class='main'>
	<h3>Web services</h3>
	<ul class='link'>
		<li>
			<a href='https://about.scrolliris.com/' title='Scrolliris'>
				Scrolliris
			</a>
			<ul>
				<li>
					<p>A publication platform which utilizes text readability analysis</p>
				</li>
			</ul>
		</li>
		<li>
			Eloquentlog
			<ul>
				<li>
					<p>(under development)</p>
				</li>
			</ul>
		</li>
	</ul>
	<h3>Libraries</h3>
	<ul class='link'>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/pyramid_secure_response' title='pyramid_secure_response'>
				Pyramid Secure Response
			</a>
			<span class='label pypi'>
				<a href='https://pypi.python.org/pypi/pyramid_secure_response' title='PyPI'>
					PyPI
				</a>
			</span>
			<ul>
				<li>
					<p>Pyramid Tweens to provide secure response (HSTS header, SSL redirect etc.)</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://github.com/grauwoelfchen/flask-dotenv' title='Flask-DotEnv'>
				Flask-DotEnv
			</a>
			<span class='label pypi'>
				<a href='https://pypi.python.org/pypi/Flask-DotEnv' title='PyPI'>
					PyPI
				</a>
			</span>
			<ul>
				<li>
					<p>The .env file support for Flask</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/styr' title='Styr'>
				Styr
			</a>
			<span class='label npm'>
				<a href='https://www.npmjs.com/package/styr' title='npm'>
					npm
				</a>
			</span>
			<ul>
				<li>
					<p>
						STYlish css libRary,
						<a href='https://grauwoelfchen.gitlab.io/styr'>https://grauwoelfchen.gitlab.io/styr</a>
						(documentation)
					</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://github.com/grauwoelfchen/lilac' title='Lilac'>
				Lilac
			</a>
			<span class='label gem'>
				<a href='https://rubygems.org/gems/lilac' title='RubyGems'>
					RubyGems
				</a>
			</span>
			<ul>
				<li>
					<p>Luxury Indented List Another Converter</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://github.com/grauwoelfchen/set-cursor-line' title='SetCursorLine'>
				SetCursorLine
			</a>
			,
			<a href='https://github.com/grauwoelfchen/set-number' title='SetNumber'>
				SetNumber
			</a>
			<ul>
				<li>
					<p>jQuery Plugin for `set cursor line` and `set number` to textarea</p>
				</li>
			</ul>
		</li>
	</ul>
	<a href='https://github.com/grauwoelfchen/set-cursor-line'>
		<img height='153' src='https://raw.githubusercontent.com/grauwoelfchen/set-cursor-line/master/img/set-cursor-line-js.png' width='294'>
	</a>
	<span class='caption'>(set cursorline)</span>
	<a href='https://github.com/grauwoelfchen/set-number'>
		<img height='157' src='https://raw.githubusercontent.com/grauwoelfchen/set-number/master/img/set-number-js.png' width='286'>
	</a>
	<span class='caption'>(set number)</span>
	<h3>Utilities</h3>
	<ul class='link'>
		<li>
			<a href='https://github.com/grauwoelfchen/tune' title='Tune'>
				Tune
			</a>
			<span class='label gem'>
				<a href='https://rubygems.org/gems/tune' title='Rubygems'>
					Rubygems
				</a>
			</span>
			<ul>
				<li>
					<p>The command line interface of Radio Tray via dbus</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/heroku-buildpack-gettext' title='heroku-buildpack-gettext'>
				Heroku Buildpack Gettext
			</a>
			<ul>
				<li>
					<p>The buildpack compiles GNU gettext with gettext-tools from official gettext</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/heroku-buildpack-make' title='heroku-buildpack-make'>
				Heroku Buildpack Make
			</a>
			<ul>
				<li>
					<p>The buildpack to use Makefile on Heroku instance</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/dotvim' title='.vim'>
				DotVim (.vim)
			</a>
			<ul>
				<li>
					<p>My .vim</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/dotzsh' title='.zsh'>
				DotZsh (.zsh)
			</a>
			<ul>
				<li>
					<p>My .zsh</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://github.com/grauwoelfchen/portage-overlay' title='Portage overlay'>
				Portage Overlay
			</a>
			<ul>
				<li>
					<p>My portage overlay for Gentoo/Funtoo Linux</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/gpl' title='GPL'>
				GPL
			</a>
			<ul>
				<li>
					<p>Grauwoelfchen's dvorak based Planck keyboard Layout</p>
				</li>
			</ul>
		</li>
		<li>
			<p>
				<a href='https://github.com/grauwoelfchen/slim.theme-zuerich' title='Slim Theme Zürich'>
					Zürich
				</a>
				,
				<a href='https://github.com/grauwoelfchen/slim.theme-luzern' title='Slim Theme Luzern'>
					Luzern
				</a>
				,
				<a href='https://github.com/grauwoelfchen/slim.theme-spiez' title='Slim Theme Spiez'>
					Spiez
				</a>
			</p>
			<ul>
				<li>
					<p>The Theme using my photo in Switzerland for SLiM login manager</p>
				</li>
			</ul>
		</li>
	</ul>
	<a href='https://github.com/grauwoelfchen/slim.theme-luzern/blob/master/background.jpg' title='Utenberg by Yasuhiro Asaka'>
		<img alt='Utenberg' height='153' src='https://raw.githubusercontent.com/grauwoelfchen/slim.theme-luzern/master/background.jpg' width='153'>
	</a>
	<span class='caption'>(Luzern)</span>
	<h3>Documentations</h3>
	<ul class='link'>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/handbooks' title='Handbooks'>
				Handbooks
			</a>
			<ul>
				<li>
					<p>My documents for setup GNU/Linux and BSD</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/vincent' title='Vincent'>
				Vincent
			</a>
			<ul>
				<li>
					<p>VPN Setup note on Gentoo Linux</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/innocent' title='Innocent'>
				Innocent
			</a>
			<ul>
				<li>
					<p>Note and configuration for easy installation of Gentoo Linux on virtual server like VPS</p>
				</li>
			</ul>
		</li>
	</ul>
	<h3>Miscellaneous Repositories</h3>
	<ul class='link'>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/dijon' title='Dijon'>
				Dijon
			</a>
			<ul>
				<li>
					<p>Docker Integration for Jitsi Meet</p>
				</li>
			</ul>
		</li>
	</ul>
	<h3>Applications</h3>
	<ul class='link'>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/untertiteln' title='Untertiteln'>
				Untertiteln
			</a>
			<ul>
				<li>
					<p>The console application prints Untertitels (subtitle in German) from input</p>
				</li>
			</ul>
		</li>
		<li>
			<a href='https://gitlab.com/grauwoelfchen/workroom' title='Workroom'>
				Workroom
			</a>
			<ul>
				<li>
					<p>This website ;-)</p>
				</li>
			</ul>
		</li>
	</ul>
</div>
