<h2>Software</h2>
<div class="main">
	<div>
		<h3>Products</h3>
		<ul class="link">
			<li>
				<a href="https://gitlab.com/eloquentlog" title="Eloquentlog">Eloquentlog</a>
				<p>A log processing software, <a href="https://eloquentlog.com">https://eloquentlog.com</a></p>
			</li>
			<li>
				<a href="https://gitlab.com/scrolliris" title="Scrolliris">Scrolliris</a>
				<p>Text readability analysis software utilizes anonymized data</p>
			</li>
		</ul>
	</div>
	<div>
		<h3>Public Repositories</h3>
		<ul class="link">
			<li><a href="https://gitlab.com/grauwoelfchen">GitLab.com</a></li>
			<li><a href="https://github.cm/grauwoelfchen">GitHub</a></li>
			<li><a href="https://git.sr.ht/~grauwoelfchen/">sourcehut</a></li>
		</ul>
	</div>
</div>
