<h2 class="title">Software</h2>
<div class="content">
	<h3>Products</h3>
	<ul class="link">
		<li>
			<a href="https://gitlab.com/eloquentlog" title="Eloquentlog">Eloquentlog</a>
			<p>A log processing software, <a href="https://eloquentlog.com">https://eloquentlog.com</a></p>
		</li>
		<li>
			<a href="https://gitlab.com/scrolliris" title="Scrolliris">Scrolliris</a>
			<p>Text readability analysis software utilizes anonymized data</p>
		</li>
		<li>
			<a href="https://miaow.yasha.app/" title="Miaow">Miaow</a>
			<p>Meow, meow!</p>
		</li>
	</ul>
	<h3>Public Repositories</h3>
	<ul class="link">
		<li><a href="https://gitlab.com/grauwoelfchen">GitLab.com</a></li>
		<li><a href="https://github.com/grauwoelfchen">GitHub</a></li>
		<li><a href="https://git.sr.ht/~grauwoelfchen/">sourcehut</a></li>
		<li><a href="https://codeberg.org/grauwoelfchen">Codeberg</a></li>
	</ul>
</div>
